{{!-- <div class="categorie" id={{categorie}}>
    {{#each object as |cat|}}
      <div class="vraag">
        <label for={{cat.vraag}}>{{cat.vraag}}</label>
        <div class="">
          {{#if (check-input-type cat.antwoorden aantal=1)}}
          <input onchange={{action "storeValue"}} type="checkbox" id={{cat.vraag}} class="question" name={{cat.vraag}} value={{cat.antwoorden.gewicht}}>
          <p>{{cat.antwoorden.0.naam}}</p>
          {{else if (check-input-type cat.antwoorden aantal=2)}}
          {{#each cat.antwoorden as |antwoord|}}
            <input onchange={{action "storeValue"}} type="radio" id={{cat.vraag}} class="question" name={{cat.vraag}} value={{antwoord.gewicht}}>
            <p>{{antwoord.naam}}</p>
          {{/each}}
          {{else}}
          <select onchange={{action "storeValue"}} class="question" id={{cat.vraag}} name={{cat.vraag}}>
            {{#each cat.antwoorden as |antwoord|}}
              <option value={{antwoord.gewicht}}>{{antwoord.naam}}</option>
            {{/each}}
          </select>
          {{/if}}
        </div>
      </div>
    {{/each}}
</div>
{{yield}} --}}

<div class="categorie" id={{categorie}}>
    {{#each object as |cat|}}
      <div class="vraag">
        <label for={{cat.vraag}}>{{cat.vraag}}</label>
        <div class="">
          {{#if (check-input-type cat.antwoorden aantal=1)}}
          {{#if (in-local-storage cat cat.antwoorden)}}
          <input checked data-vraag={{cat.antwoorden.0.naam}} onchange={{action "storeValue"}} type="checkbox" id={{cat.vraag}} class="question" name={{cat.vraag}} value={{cat.antwoorden.gewicht}}>
          {{else}}
          <input data-vraag={{cat.antwoorden.0.naam}} onchange={{action "storeValue"}} type="checkbox" id={{cat.vraag}} class="question" name={{cat.vraag}} value={{cat.antwoorden.gewicht}}>
          {{/if}}
          <p>{{cat.antwoorden.0.naam}}</p>
          {{else if (check-input-type cat.antwoorden aantal=2)}}
          {{#each cat.antwoorden as |antwoord|}}
          {{#if (in-local-storage cat antwoord)}}
            <input checked data-vraag={{antwoord.naam}} onchange={{action "storeValue"}} type="radio" id={{cat.vraag}} class="question" name={{cat.vraag}} value={{antwoord.gewicht}}>
          {{else}}
            <input data-vraag={{antwoord.naam}} onchange={{action "storeValue"}} type="radio" id={{cat.vraag}} class="question" name={{cat.vraag}} value={{antwoord.gewicht}}>
          {{/if}}
            <p>{{antwoord.naam}}</p>
          {{/each}}
          {{else}}
          <select onchange={{action "storeValue" naam="target.name"}} class="question" id={{cat.vraag}} name={{cat.vraag}}>
            {{#each cat.antwoorden as |antwoord|}}
            {{#if (in-local-storage cat antwoord)}}
              <option selected data-vraag={{antwoord.naam}} value={{antwoord.gewicht}}>{{antwoord.naam}}</option>
            {{else}}
              <option data-vraag={{antwoord.naam}} value={{antwoord.gewicht}}>{{antwoord.naam}}</option>
            {{/if}}
            {{/each}}
          </select>
          {{/if}}
        </div>
      </div>
    {{/each}}
</div>
{{yield}}
